.content{
    padding: 0 0.3rem;
    overflow: hidden;
}
.title{
    font-weight: 400;
    color: #010101;
    opacity: 0.7;
    font-size: 0.26rem;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
}
.cityname{
    
    width: 1.38rem;
    height: .5rem;
    text-align: center;
    line-height: 0.5rem;
    background-color: rgba(0,0,0,0.1);
    color: #000;
    opacity: 0.7;
    border-radius: 0.1rem;
    /* 单行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.hotcity>.cityname{
    float: left;
    margin: 0 0.2rem 0.2rem 0;
}

/* 城市列表  cityList */
